*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background: url(./backg7.avif) no-repeat center center/cover;
    color: #333;
}
.container{
    margin-left: 20%;
    margin-top: 10%;
    width: 50%;
    background-color: rgb(247, 245, 242);
    border: 5px solid #eeb007;
    border-top:none;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
.container h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
label{
    font-size: 1.2rem;
    font-weight: bold;
   width: 40%;
    margin-left: 20px;
}
.container input[type="number"], #result{
    padding: 10px;
    border: 1px solid #666565;
    border-radius: 5px;
    width: 250px; 
    font-size: 1rem;
}
.input-group{
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
