*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background:url(back6.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border-left: 5px solid #037d01;
    border-right: 5px solid #037d01;
    border-bottom: 5px solid #037d01;
    background-color: #d9fbd9;
}

button {
    background-color: #037d01;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #254522;
}

.result-box {
    margin-top: 25px;
    text-align: left;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #6c5ce7;
    border-right: 5px solid #6c5ce7;
}

.highlight {
    color: #d63031;
    font-weight: bold;
    font-size: 1.2rem;
}

#full-array {
    color: #2d3436;
    word-break: break-all;
}