*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    color: #200000;
    line-height: 1.6;
    padding: 20px;
    background: url(./bc\ image.jpg) no-repeat center center/cover;
}
h1{
    text-align: center;
}
p{
    margin: 10px 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.container{
    width:50%;
    height: auto;
    max-width: 800px;
    margin-top: 10%;
    margin-left: 20%;
    background:url(./bc1\ div.avif) no-repeat center center/cover;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(219, 162, 162);
}
input[type="text"]{
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 18%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    display: block;
    width: 50%;
    padding: 10px;
    background: #3a3032;
    color: #f4cfcf;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 18%;
}