body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding: 20px;
    background:url(./backbody1.avif) no-repeat center center/cover;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    width: 400px;
        background: url(./baxck3.jpg) no-repeat center center/cover;
}

h1 { text-align: center; color: #333; }

.card { margin-bottom: 20px; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #06b0ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover { background-color: #218838; }

.result {
    margin-top: 15px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    font-weight: bold;
}