*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    min-height: 100vh;
    background: url(./back5.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    margin-top: 40px;     
    margin-bottom: 10px;   
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-weight: bolder;
    font-size: 2.5rem;
    display: block;        
    width: 100%;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 30px;   
    color: rgb(11, 9, 8);
    font-size: 1.8rem;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
}

.container {
    background:url(./back5.1.avif); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    width: 350px;          
}
input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #ee6f07;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#result{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}